@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --mainColor: #FFCC00;
  --mainBgColor: #FAF9F6;
  --textColor: #101214;
  --secondaryBgColor: #EBEADF;
  --hoverBgColor: #E1DFC9;
  --focusBgColor: #D6D4BE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--textColor);
}

body.modal-open {
  overflow: hidden;
}

p {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--mainBgColor);
}

.header-top {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  padding: 5px 0;
  background-color: var(--mainColor);
  text-transform: uppercase;
}

.navbar-collapse {
  position: relative;
}

.navbar-custom {
  padding: 20px 0;
}

.navbar__underline {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 4px;
  width: 0;
  background-color: var(--mainColor);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar-brand {
  padding: 0;
  margin-right: 24px;
}

.navbar-brand__link {
  display: flex;
  align-items: center;
  column-gap: 23px;
}

.navbar-brand__rect {
  height: 28px;
  border: solid 1px #D6D4C0;
}

.navbar-collapse__container {
  flex: 1;
  justify-content: space-between;
}

.navbar a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.navbar-nav {
  column-gap: 16px;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a:active {
  opacity: 0.7;
}

@media (min-width: 320px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 991.98px) {
  .navbar-custom .navbar-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    padding: 0;
    border: none;
  }

  .navbar-toggler.collapsed {

    .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -5px);
    }

  }

  .navbar-custom .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-custom .navbar-collapse {
    position: fixed;
    top: 56px; /* Высота вашей шапки */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mainBgColor); /* Цвет фона */
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.15s ease-in-out;
    transform: translateX(-100%);
    padding: 16px;
  }

  .navbar-custom .navbar-collapse.expanded {
    transform: translateX(0);
  }

  .navbar-custom .navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .navbar-custom .nav-item {
    margin-bottom: 1rem;
  }

  .navbar-custom .nav-link {
    padding: 0.5rem 1rem;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  transition: transform 0.15s ease;
}

.field-group {
  position: relative;
}

.input-field {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--secondaryBgColor);
  border-radius: 4px;
  padding: 6px 12px 6px 38px;
  border: none;
  transition: background-color 0.15s ease-in-out;
}

.input-field::placeholder {
  color: #727376;
}

.input-field:hover {
  background-color: var(--hoverBgColor);
}

.input-field:focus-visible {
  outline: 2px solid #FFCC00;
  background-color: #fff;
}

.input-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  color: #727376;
}

.form-control:focus {
  box-shadow: none;
}

.search-input {
  width: 252px;
}

.user-buttons {
  column-gap: 21px;
}

.user-buttons__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-buttons__link svg path {
  transition: fill 0.15s ease-in-out;
}

.user-buttons__link:hover svg path {
  fill: var(--mainColor);
}

.navbar-theme {
}

.user-buttons__text {
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  opacity: 0.7;
  margin-top: 4px;
}


.theme-toggle {
  width: 54px;
  height: 24px;
  border-radius: 51px;
  border: none;
}

.theme-toggle__btn {
  background-color: var(--secondaryBgColor);
  border: none;
  padding: 0;
  transition: all 0.15s ease-in-out;
  border-radius: 51px;
}

.theme-toggle__btn:hover {
  background-color: var(--hoverBgColor);
}

.theme-toggle__btn:first-child:active {
  background-color: var(--focusBgColor);
}

.theme-toggle__btn.active:active {
  background-color: var(--focusBgColor);
}

.theme-toggle__btn.active {
  background-color: #FFCC00;
}

.theme-toggle__btn .icon {
  padding-bottom: 2px;
}

